<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'new_delivery' %>
    <%= stylesheet_link_tag 'index_delivery' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse container" id="navbarNavDropdown">

        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/deliveries/new">Создать заявку</a>
          </li>
        </ul>
      </div>
    </nav><br>

    <%= yield %>
    <%= javascript_include_tag 'phone_input' %>
  </body>
</html>
